.hero4 {
  height: 900px;
}
.hero4-p1 {
  color: #163561;
  text-align: center;
  font-family: Catamaran;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 116.6%;
  letter-spacing: 2.1px;
}
.images {
  width: 300px;
  margin-left: 20px;
  margin-bottom: 30px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;

  margin: 0px 0px 0px 120px;

  /* background-color: #166124; */
}
.hero4-btn1 {
  width: 120px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 20px;
  margin: 60px 0px 0px 550px;
  color: white;
  background: #99baed;
}
